<!DOCTYPE html>
<html lang="en">
<head>

    <title>CRUD Application.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Header -->
    <header id='header'>
        <nav>
            <div class="container">
                <a href="/" class="nav-brand text-dark">User Management System</a>

            </div>
        </nav>
    </header>
   
</body>
</html>